header {
    text-align: center;
    font-size: 50px;
    color: indianred;
}

form {
    float: right;
    margin-bottom: 20px;
}

p {
    color: blueviolet;
}

body {
    background: url(../images/vintage-concrete.png);
}

button {
    border: 2px outset cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: firebrick;
    border-radius: 15px;
    background-color: burlywood;
    margin: 0px 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

img {
    padding-right: 20px;
    padding-bottom: 20px;
}

button:hover {
    background-color: aliceblue;
}

.btn-cntr {
    border: 3px ridge bisque;
    border-radius: 15px;
    padding: 30px 30px;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
}

.gif-cntr {
    max-width: 700px;
}

.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; 
}
.instructions {
    text-align: center;
    font-size: 28px;
}
