header {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: aliceblue;
    background: url(../images/full-bloom.png);
}

button {
    border: 2px outset cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slateblue;
    border-radius: 15px;
    background-color: burlywood;
    margin: 0px 10px;
    font-size: 25px;
}

button:hover {
    background-color: cornflowerblue;
}

.btn-cntr {
    border: 3px inset cornflowerblue;
    border-radius: 15px;
    padding: 30px 30px;
    background: transparent;
    width: 100%;
}

.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; 
}
.instructions {
    text-align: center;
    font-size: 28px;
}
